<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACNH Startup Guide</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/flickity.min.css" media="screen">
  </head>

  <body>
    {{#if logged_in}}
    {{else}}
    <nav class="nav m-1">
      <a href="/" class="mr-5" id="homeIcon"><ion-icon name="home"></ion-icon></a>

      <ul class="nav-ul">
        <li><a href="/login"><ion-icon name="person"></ion-icon> <br/>Login</a></li>
        <li><a href="/signup"><ion-icon name="create"></ion-icon> <br/>Signup</a></li>
        <li><a href="/about"><ion-icon name="information-circle"></ion-icon> <br/>About</a></li>
      </ul>
    </nav>
    {{/if}}

    <main>
      {{#if logged_in}}
      <section id="sidebar">
        <ion-icon name="home" class="sidebar-icon secondary" id="homeNav"></ion-icon>
        <ion-icon name="search" class="sidebar-icon secondary" id="searchNav"></ion-icon>
        <ion-icon name="fish" class="sidebar-icon" id="museumNav"></ion-icon>
        <div class="sidepanel">
          <a href="/bug">Bugs</a>
          <a href="/fish">Fish</a>
          <a href="/sea">Sea Creatures</a>
          <a href="/art">Art</a>
          <a href="/fossil">Fossils</a>
        </div>
        <ion-icon name="cart" class="sidebar-icon" id="catalogNav"></ion-icon>
        <div class="sidepanel">
          <a href="#">Furniture</a>
          <a href="#">Clothing</a>
          <a href="#">Songs</a>
          <a href="#">Wallpaper/Flooring/Rugs</a>
          <a href="#">Specialty items</a>
        </div>
        <ion-icon name="construct" class="sidebar-icon" id="diyNav"></ion-icon>
        <div class="sidepanel">
          <a href="#">All</a>
          <a href="#">Crafting DIY</a>
          <a href="#">Cooking DIY</a>
        </div>
        <ion-icon name="ribbon" class="sidebar-icon" id="achievementNav"></ion-icon>
        <ion-icon name="paw" class="sidebar-icon" id="villagerNav"></ion-icon>
        <div class="sidepanel">
          <a href="#">Posters/Photos</a>
          <a href="#">HHP</a>
          <a href="#">Reactions</a>
          <a href="#">Villagers</a>
        </div>
        <ion-icon name="leaf" class="sidebar-icon" id="natureNav"></ion-icon>
        <div class="sidepanel">
          <a href="#">Flowers</a>
          <a href="#">Gyroids</a>
          <a href="#">Misc.</a>
        </div>
        <ion-icon name="time" class="sidebar-icon secondary" id="activeCreatureNav"></ion-icon>
        {{!-- Add a direct link on click to map/chart--}}
        <ion-icon name="map" class="sidebar-icon secondary" id="chartNav"></ion-icon>
        <ion-icon name="cog" class="sidebar-icon secondary" id="settingsNav"></ion-icon>
        <div class="sidepanel">
          <a href="#">Time/Date</a>
          <a href="#">Settings</a>
          <a href="#">About</a>
        </div>
        {{!-- This will be removed and an acnh character will be added --}}
        <ion-icon name="person" class="sidebar-icon secondary" id="profileNav"></ion-icon>
      </section>
      
      <!-- Render the sub layout -->
      <section id="content">
        <ion-icon name="menu" id="menu-icon"></ion-icon>
        <a href="/" id="log-out"> Log out</a>
     {{/if}}
      {{{ body }}}
      </section>
    </main>

    {{#if logged_in}}
    <script src="/js/side-nav.js"></script>
    <script src="/js/logout.js"></script>
    {{/if}}
    <!-- Top 2 scripts for icons, third script for gallery -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/flickity.pkgd.min.js"></script>
  </body>
</html>
