<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACNH Startup Guide</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/flickity.min.css" media="screen">
  </head>

  <body>
    {{#if logged_in}}
    {{else}}
    <nav class="nav m-1">
      <a href="/" class="mr-5" id="homeIcon"><ion-icon name="home"></ion-icon></a>

      <ul class="nav-ul">
        <li><a href="/login"><ion-icon name="person"></ion-icon> <br/>Login</a></li>
        <li><a href="/signup"><ion-icon name="create"></ion-icon> <br/>Signup</a></li>
        <li><a href="/about"><ion-icon name="information-circle"></ion-icon> <br/>About</a></li>
      </ul>
    </nav>
    {{/if}}

    <main>
      {{#if logged_in}}
      <section id="sidebar">
        <ion-icon name="home" class="sidebar-icon secondary" id="homeNav"></ion-icon>
        <ion-icon name="search" class="sidebar-icon secondary"></ion-icon>
        <ion-icon name="fish" class="sidebar-icon"></ion-icon>
        <ion-icon name="cart" class="sidebar-icon"></ion-icon>
        <ion-icon name="construct" class="sidebar-icon"></ion-icon>
        <ion-icon name="ribbon" class="sidebar-icon"></ion-icon>
        <ion-icon name="paw" class="sidebar-icon"></ion-icon>
        <ion-icon name="leaf" class="sidebar-icon"></ion-icon>
        <ion-icon name="time" class="sidebar-icon secondary"></ion-icon>
        {{!-- Add a direct link on click to map/chart--}}
        <ion-icon name="map" class="sidebar-icon secondary"></ion-icon>
        <ion-icon name="cog" class="sidebar-icon secondary"></ion-icon>
        {{!-- This will be removed and an acnh character will be added --}}
        <ion-icon name="person" class="sidebar-icon secondary"></ion-icon>
  
        
        {{!-- <div class="contentArea">
          <div class="dropdown-content">
            <a href="/bug">Bugs</a>
            <a href="/fish">Fish</a>
            <a href="/sea">Sea Creatures</a>
          </div>
        </div>

        <div class="contentArea">
          <div class="dropdown-content">
            <a href="/">Furniture</a>
            <a href="/">Songs</a>
            <a href="/">Walls</a>
          </div>
        </div>

        <div class="contentArea">
          <div class="dropdown-content">
            <a href="/">Reactions</a>
            <a href="/">Posters</a>
            <a href="/">Photos</a>
          </div>
        </div>

        <div class="contentArea">
          <div class="dropdown-content">
            <a href="/">All</a>
            <a href="/">Crafting</a>
            <a href="/">Cooking</a>
          </div>
        </div>

        <div class="contentArea">
          <div class="dropdown-content">
            <a href="/">All</a>
            <a href="/">Anytime</a>
            <a href="/">Date-locked/Event</a>
          </div>
        </div>

        <div class="contentArea">
          <div class="dropdown-content">
            <a href="/">Flowers</a>
            <a href="/">Misc.</a>
            <a href="/">Gyroids</a>
          </div>
        </div> --}}
      </section>
      
      <!-- Render the sub layout -->
      <section id="content">
        <ion-icon name="menu" id="menu-icon"></ion-icon>
        <a href="/" id="log-out"> Log out</a>
     {{/if}}
      {{{ body }}}
      </section>
    </main>

    {{#if logged_in}}
    <script src="/js/side-nav.js"></script>
    <script src="/js/logout.js"></script>
    {{/if}}
    <!-- Top 2 scripts for icons, third script for gallery -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/js/flickity.pkgd.min.js"></script>
  </body>
</html>
