<section class="text-center" id="top">
  <h1 class="mb-5"> About Page</h1>
  <ul id="about-ul" class="mb-4">
    <li>Jump to:</li>
    <li><a href="#FAQ">FAQ</a></li>
    <li><a href="#feedback">Feedback</a></li>
    <li><a href="#about-app">About</a></li>
    <li><a href="#TOS">TOS & Privacy Policy</a></li>
  </ul>

  <button onclick="location.href='/signup'" type="button" class="button" id="tutorial-button">Watch the tutorial</button>

  <h2 id="FAQ" class="mt-4">FAQ</h2>
  <ul class="mt-2" id="faq-ul">
    <li>Q: Does this website cost money to use? <br/><br/>A: No, it is completely free (and ad-free). I will never ask for your credit card info or request any form of payment.</li>
    <li>Q: What is included in the app? <br/><br/>A: Your homepage will have your guide for that day (of course), a to-do list area for your daily tasks, and a collections area (keep track of your donated creatures, catalogued furniture, etc). There is also a toggle to switch to "chart mode". Chart mode takes every single thing you can unlock/achieve in the game and puts it in one filterable and searchable chart. It's basically your "unlocking guide" so you can quickly search up the requirements to unlock a desired item or event. The navigation on your homepage will allow you to change the time/date, view your profile, search the app (quickly pull up an item), view your settings, view this about page, and logout. </li>
    <li>Q: How will you use my information? <br/><br/>A: Your email is solely used to access your account. I will not be emailing you unless it is for security purposes, or to respond to you if you fill out the feedback/questions form. </li>
    <li>Q: Help! I can't remember my password! <br/><br/>A: I do not currently have any sort of password retrieval set up. I also do not have access to user passwords. I could possibly delete your account for you so that you can remake it with the same email (reach out in the feedback/questions form).</li>
    <li>Q: How do I customize my pages? <br/><br/>A: Most customization is done through the settings tab once you are logged in. You can also edit your to-do list directly from your home page.</li>
    <li>Q: Can I have more than one island/account? <br/><br/>A: You can only have one account per email but you are welcome to have as many character profiles/islands as you would like. To add a profile, go to either the profile tab or the settings tab.</li>
    <li>Q: I've been playing a week...month...etc. Do I have to start the guide from day 1? <br/><br/>A: Nope! When you are making your account, you can select a "custom" timeline. You will need to check off the items you have already completed in the game, and then a custom starting guide will be made for you based on your progress. </li>
    <li>Q: What's the difference from starting at game launch versus day 1? <br/><br/>A: Game launch starts the guide from the airport scene when you first turn the game on. Day 1 starts with the first "offical" day in the game (when you wake up after the party).</li>
    <li>Q: How do I delete my account? <br/><br/>A: There is a delete option once you are signed in. If you cannot remember your password to delete your own account, you may request help in the feedback/questions form. I will ask you to verify that it is your account by emailing me from the email you wish to delete the account of.</li>
    <li>Q: I restarted...how do I refresh the guide? <br/><br/>A: There is a restart option in the settings!</li>
    <li>Q: Can I see active creatures? <br/><br/>A: Yes! First make sure the clock is set correctly to match your in-game date and time. Then click on the museum button, and there will be an active creatures button. You can choose to sort by the creatures that sell for the most bells, creatures you still need to catch, etc.</li>
    <li>Q: Can I time travel? <br/><br/>A: Of course! Just adjust the time and date from the time/date tab and your guide will adjust with you!</li>
    <li>Q: I didn't finish all of the tasks for the day...what now? <br/><br/>A: No worries! The guide will move any unfinished tasks to the next day when applicable. If you forget to mark a task as completed, you can edit the guide at any time to make those changes.</li>
    <li>Q: How do I give feedback to the developer/ask for a new feature? <br/><br/>A: There is a button to email me on this page. I welcome feedback, good or bad! This is a passion project, so I make no promises on updates/features but I will do my best to help if I can!</li>
    <li>Q: How can I see what I already have collected in the game to add to my collections? <br/><br/>A: You can check most collections from your nookphone or catalog! Your catalog will have furniture, clothes, walls, floors, songs, posters, rugs, fossils/art that you've touched (if you donate all of your fossils/art right away, this is quicker than visiting the museum to check). You can check your creatures in the critterpedia. Reactions are accessed by hitting the ZR button. DIYS can be seen in the DIY app on the nookphone. </li>
    <li>Q: Can I customize my to-do list? <br/><br/>A: Yes! All to-do list items are customizable by hitting the edit to-do list button. I offer pre-made items for the most popular tasks, but you can change those as you see fit. You also can delete tasks, or create your own at any time.</li>
    <li>Q: How do I add my current villagers/update them? <br/><br/>A: Through your profile!</li>
    <li>Q: Is there a turnip log? <br/><br/>A: Yes, the turnip log is linked directly to the "check turnip prices" tasks. If you make your own task for checking prices, make sure to link it to the turnip log so that you can check your patterns!</li>
  </ul>
  <hr>
  <div class="form" id="contact-form">
    <h2 id="feedback" class="mt-4">Feedback/Questions</h2>
    <button onclick="location.href='mailto:caitlinwall96@gmail.com';" class="button">Email me!</button>    
  </div>
  <hr class="mt-5">
  
  <div class="m-5 p-2">
    <h2 id="about-app" class="mb-4">About the Website/Developer</h2>
    <p> Hello! I developed ACNH startup guide as a passion project. It is meant to be used with Nintendo's video game: ACNH - Animal Crossing: New Horizons. All characters and game components belong to Nintendo, of course. </p>
    <p>I got the idea for this guide when I was restarting for the bazillionth time. I personally love the restart process and completing all the game objectives over and over again. But it could get awfully tedious to remember all the small bits and pieces...how do I unlock the custom design portal on my phone again? How many days before _____ happens?</p>
    <p> I searched online for guides to the beginning of the game...but they all seemed to be outdated (nothing about the new content included) and/or they are just static articles that you can read...</p>
    <p>Enter the ACNH Startup Guide! Not only will this guide walk you through everything you can unlock and achieve in the game (set to your own preferences, of course) but it is INTERACTIVE. No more articles, no more overwhelm. The guide will tell you what you need to do, when you need to do it.</p>
    <p>I welcome feedback, if you can think of something I left out or that might be a good feature to add, please reach out! My intention is to keep your homepage as simple as possible...and some features may be left out or condensed because of this. For example, the only place you can find your turnip log is by completing the "check turnip price" task in your daily to-do list...by completing the task, you can enter your price and check your predictions. However, there isn't a tab anywhere that says "turnip log". It may take a minute to familiarize yourself with this flow...but when you do, I think you'll appreciate not having a gazillion tabs for different items as much as I do! </p>
  </div>

  <footer id="TOS">
    <p>ACNH Startup Guide is a fan-made website and is in no way affiliated with Nintendo. I claim no ownership of the game or it's components. This guide is meant to be used alongside the Animal Crossing: New Horizons game.</p>
    <ul>
      <li><a href="#">TOS</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
    <a href="#top">^Back to the top^</a>
  </footer>
  
</section>
