<div class="nook-miles">
  <div class="nook-miles__icon">
    <img src="./img/icon-nook-mile.png" alt="nook miles icon"/>
  </div>
  <div class="nook-miles__count">15/315</div>
</div>
<header class="header">
    <div class="logo-wrapper">
      <a href="/home"><ion-icon name="home" class="logo"></ion-icon></a>
    </div>
</header>
<div class="achievements-wrapper">
  <div class="achievements">
    <div class="achievement achievement--event noSelect" tabindex="0">
      <div class="achievement__title">(island name) Miles!</div>
      <div class="stamp-wrapper">
        <img src="./img/track-straight-1.svg" class="trackImg"/>
      </div>
    </div>
    <div class="achievement achievement--fish noSelect" tabindex="0">
      <div class="achievement__title">Angling for Perfection!</div>
      <div class="stamp-wrapper">
        <img src="./img/awards-5-blank-connected.svg" class="trackImg zigzag"/>
      </div>
    </div>
    <div class="achievement achievement--fish noSelect" tabindex="0">
      <div class="achievement__title">Island Ichthyologist</div>
      <div class="stamp-wrapper">
        <img src="./img/track-straight-1.svg" class="trackImg"/>
      </div>
    </div>
    <div class="achievement achievement--communication noSelect" tabindex="0">
      <div class="achievement__title">Island Togetherness</div>
      <div class="stamp-wrapper">
        <img src="./img/track-straight-1.svg" class="trackImg"/>
      </div>
    </div>
  </div>
</div>

<script src="./js/achievement.js"></script>