<h1>Home</h1>
<button class="saveBugs">Save Bugs</button>
{{#each bugs as |bug| }}
  <div class="card">
    <div class="card-header">
      <h2>
        {{bug.name}} 
      </h2>
      <p>
        Sell price: {{bug.sellPrice}} bells
      </p>
    </div>
    <p class="card-contents">Figure this out later</p>
  </div>
{{/each}}

<script src="./js/bug.js"></script>