<section> 
  <!-- Flickity HTML init -->
  <div class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true }'>
    <div class="gallery-cell" id="gallery1"></div>
    <div class="gallery-cell" id="gallery2"></div>
    <div class="gallery-cell" id="gallery3"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div>

  <div class="text-center">
    <h2>Welcome to the ACNH Startup Guide!</h2>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>

    <form>
      <label for="user-email">Email</label>
      <input type="email" id="user-email" name="email" placeholder="sample@gmail.com">

      <label for="user-password">Password</label>
      <input type="password" id="user-password" name="password" placeholder="********">

    
      <button type="submit" class="button" id="login-button">Login</button>
    </form>


    {{!-- About Section --}}
    <div class="display-flex justify-center">
      <p class="w-75"> ACNH Startup Guide is designed to be a fully interactive experience. It is not an article describing the steps you need to take. Instead, you will be guided through the starting process with full customization to your own goals in the game. </p>
    </div>

  </div>


</section>