<button id="seedBtnBug">Seed bugs</button>
<button id="seedBtnFish">Seed fish</button>
<button id="seedBtnSea">Seed sea creatures</button>
<button id="seedBtnFossil">Seed fossils</button>
<button id="seedBtnArt">Seed art</button>
<button id="homeBtn">Go home</button>


<script src="./js/seed.js"></script>
