<button id="seedBtnBug">Seed bugs</button>
<button id="seedBtnFish">Seed fish</button>
<button id="seedBtnSea">Seed sea creatures</button>
<button id="seedBtnFossil">Seed fossils</button>
<button id="seedBtnArt">Seed art</button>
<button id="seedBtnAchievement">Seed achievements</button>
<button id="seedBtnHousewares">Seed Housewares</button>
<button id="seedBtnFurnMisc">Seed Misc</button>
<button id="seedBtnWallMounted">Seed Wall-mounted</button>


<button id="homeBtn">Go home</button>


<script src="./js/seed.js"></script>
