<!--Form to signup with a new user-->
<div class="form text-center">
  <form id="signup-form">
    <h2>Create an account</h2>
    <label for="email-signup">Email</label>
    <input type="email" id="email-signup" name="email" placeholder="sample@gmail.com" autocomplete="on">

    <label for="password-signup">Password</label>
    <input type="password" id="password-signup" name="password-signup" placeholder="********" autocomplete="off">

    <label for="password-reenter" class="col-form-label">Re-enter password</label>
    <input type="password" name="password-reenter" id="password-reenter" placeholder="********" autocomplete="off">

    <button type="submit" id="signup-button">Sign up!</button>
  </form>
  <p>Have an account? <a href="/login">Log in now!</a></p>
</div>

<script src="./js/signup.js"></script>