/* --------------- */
/*       MAIN      */
/* --------------- */
html {
  box-sizing: border-box;
  font-size: 30%;
  -webkit-text-size-adjust: none;
  height: 100%;
}

/* apply a natural box layout model to all elements, but allowing components to change */
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Nunito", sans-serif;
  background: #c2cff2 url("../img/paper-bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

main {
  height: 100%;
}

/* --------------- */
/*       HEADER     */
/* --------------- */

.header {
  height: 12.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: url('../img/banner-bg-rounded.png') center repeat-x;
  background-size: contain;
  z-index: 100;
}

.logo-wrapper {
  width: 75rem;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  width: 8.4rem;
  height: 8.4rem;
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  color: rgb(140, 159, 248);
  opacity: 0.75;
}

.logo:hover {
  color: #c2cff2;
}

.nook-miles {
  position: fixed;
  top: 2rem;
  right: 3.4rem;
  background: url('../img/nook-miles-bg.svg') center no-repeat;
  width: 19rem;
  height: 10.7rem;
  transform: rotate(3deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 200;
}

.nook-miles__icon {
  width: 6.6rem;
  height: 3.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.2rem 0 0 0.3rem;
}

.nook-miles__icon img {
  width: 90%;
  transform: rotate(2deg);
}

.nook-miles__count {
  width: 17.7rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bfdcfe;
  font-size: 3.4rem;
  padding-top: 0.5rem;
  font-weight: 700;
}

.nook-miles__count:hover {
  cursor: pointer;
}

.noSelect {
  -webkit-tap-highlight-color:transparent;
  -moz-tap-highlight-color:transparent;
  -o-tap-highlight-color:transparent;
  tap-highlight-color:transparent;
}

.stamp-wrapper {
  position: absolute;
  display: block;
  height: 75%;
  margin-top: 15%;
  width: 100%;
  overflow: hidden;
}

#noDisplaySolo .stamp-wrapper {
  margin-top: 5%;
}

.trackImg {
  z-index: 1;
  position: absolute;
  width: 75%;
  height: 75%;
  object-fit: contain;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#noDisplaySolo {
  display: none;
}


/* --------------- */
/*   ACHIEVEMENTS  */
/* --------------- */
.achievements-wrapper {
  height: 100%;
}

.achievements {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15rem 0 17rem;
  max-width: 137rem;
  margin: 0 auto;
}

#noDisplaySolo .achievements {
  height: 100%;
  align-content: center;
}

.achievement {
  width: 36.2rem;
  height: 21.6rem;
  border: 1rem solid #fefef2;
  background: #fde6d6;
  margin: 1.4rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0, 0.1);
  background: #ced6ed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
}

.achievement:before {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 100%;
  height: 104%;
  background-size: cover;
  background-position: 0 -0.8rem;
}

.transform:focus {
  transform: rotate(-2deg) scale(1.07);
}

.soloDisplay {
  width: 75rem;
  height: 40rem;
  border: 1.5rem solid #fefef2;
}

.disable-hover .achievements { pointer-events: none; }

.achievement--event:before { background-image: url('../img/bg-event.png'); }
.achievement--fish:before { background-image: url('../img/bg-fish.png'); }
.achievement--communication:before { background-image: url('../img/bg-communication.png'); }
.achievement--insect:before { background-image: url('../img/bg-insect.png'); }
.achievement--diy:before { background-image: url('../img/bg-diy.png'); }
.achievement--hha:before { background-image: url('../img/bg-hha.png'); }
.achievement--plant:before { background-image: url('../img/bg-plant.png'); }
.achievement--smartphone:before { background-image: url('../img/bg-smartphone.png'); }
.achievement--money:before { background-image: url('../img/bg-money.png'); }
.achievement--negative:before { background-image: url('../img/bg-negative.png'); }
.achievement--landmaking:before { background-image: url('../img/bg-landmaking.png'); }
.achievement--mydesign:before { background-image: url('../img/bg-mydesign.png'); }

.achievement--event { background: #fbe4d2 url('../img/paper-bg.png') center repeat; }
.achievement--fish { background: #bceae0 url('../img/paper-bg.png') center repeat; }
.achievement--communication { background: #f9f5b8 url('../img/paper-bg.png') center repeat; }
.achievement--insect { background: #f8f9b5 url('../img/paper-bg.png') center repeat; }
.achievement--diy { background: #f9f2c6 url('../img/paper-bg.png') center repeat; }
.achievement--hha { background: #faf3bf url('../img/paper-bg.png') center repeat; }
.achievement--plant { background: #e5fac2 url('../img/paper-bg.png') center repeat; }
.achievement--smartphone { background: #bfdef0 url('../img/paper-bg.png') center repeat; }
.achievement--money { background: #faf9b8 url('../img/paper-bg.png') center repeat; }
.achievement--negative { background: #ded9f7 url('../img/paper-bg.png') center repeat; }
.achievement--landmaking { background: #d7efd0 url('../img/paper-bg.png') center repeat; }
.achievement--mydesign { background: #fde4e0 url('../img/paper-bg.png') center repeat; }

.achievement__title {
  font-size: 2.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #72631e;
  text-align: center;
  padding-top: 1rem;
  margin-bottom: auto;
  z-index: 10;
}

.soloDisplay .achievement__title {
  font-size: 6rem;
}

/* ------------------ */
/* Stamp wrapper tier - how many of each thing you need */
/* ------------------ */

.stamp-wrapper__tier {
  text-align: center;
  font-weight: 700;
  position: relative;
  z-index: 10;
}

.stamp-wrapper__tier--1 { margin-top: -0.4rem; }

.stamp-wrapper__tier--event { color: #f5a280; text-shadow: -0.4rem -0.4rem 0 #ffe0de, 0.4rem -0.4rem 0 #ffe0de, -0.4rem 0.4rem 0 #ffe0de, 0.4rem 0.4rem 0 #ffe0de; }
.stamp-wrapper__tier--fish { color: #2cc6c4; text-shadow: -0.4rem -0.4rem 0 #c0eae8, 0.4rem -0.4rem 0 #c0eae8, -0.4rem 0.4rem 0 #c0eae8, 0.4rem 0.4rem 0 #c0eae8; }
.stamp-wrapper__tier--communication { color: #eda80f; text-shadow: -0.4rem -0.4rem 0 #fbf2b0, 0.4rem -0.4rem 0 #fbf2b0, -0.4rem 0.4rem 0 #fbf2b0, 0.4rem 0.4rem 0 #fbf2b0; }
.stamp-wrapper__tier--insect { color: #a2c312; text-shadow: -0.4rem -0.4rem 0 #f4ffb1, 0.4rem -0.4rem 0 #f4ffb1, -0.4rem 0.4rem 0 #f4ffb1, 0.4rem 0.4rem 0 #f4ffb1; }
.stamp-wrapper__tier--diy { color: #ba9f3e; text-shadow: -0.4rem -0.4rem 0 #fbf2c7, 0.4rem -0.4rem 0 #fbf2c7, -0.4rem 0.4rem 0 #fbf2c7, 0.4rem 0.4rem 0 #fbf2c7; }
.stamp-wrapper__tier--hha { color: #d1bd4a; text-shadow: -0.4rem -0.4rem 0 #f4edb7, 0.4rem -0.4rem 0 #f4edb7, -0.4rem 0.4rem 0 #f4edb7, 0.4rem 0.4rem 0 #f4edb7; }
.stamp-wrapper__tier--plant { color: #70b86e; text-shadow: -0.4rem -0.4rem 0 #caeaaa, 0.4rem -0.4rem 0 #caeaaa, -0.4rem 0.4rem 0 #caeaaa, 0.4rem 0.4rem 0 #caeaaa; }
.stamp-wrapper__tier--smartphone { color: #8982c4; text-shadow: -0.4rem -0.4rem 0 #beddef, 0.4rem -0.4rem 0 #beddef, -0.4rem 0.4rem 0 #beddef, 0.4rem 0.4rem 0 #beddef; }
.stamp-wrapper__tier--money { color: #b7b30c; text-shadow: -0.4rem -0.4rem 0 #f8fa9d, 0.4rem -0.4rem 0 #f8fa9d, -0.4rem 0.4rem 0 #f8fa9d, 0.4rem 0.4rem 0 #f8fa9d; }
.stamp-wrapper__tier--negative { color: #7b5189; text-shadow: -0.4rem -0.4rem 0 #cacdf3, 0.4rem -0.4rem 0 #cacdf3, -0.4rem 0.4rem 0 #cacdf3, 0.4rem 0.4rem 0 #cacdf3; }
.stamp-wrapper__tier--landmaking { color: #43a18d; text-shadow: -0.4rem -0.4rem 0 #c3ecc2, 0.4rem -0.4rem 0 #c3ecc2, -0.4rem 0.4rem 0 #c3ecc2, 0.4rem 0.4rem 0 #c3ecc2; }
.stamp-wrapper__tier--mydesign { color: #ef5e78; text-shadow: -0.4rem -0.4rem 0 #ffe4e2, 0.4rem -0.4rem 0 #ffe4e2, -0.4rem 0.4rem 0 #ffe4e2, 0.4rem 0.4rem 0 #ffe4e2; }

.achievement__spaces .stamp-wrapper__tier { display: none; }

  
/* ------------------- */
/* Stamp reward bubble - how many miles earned */
/* ------------------- */


.stamp-reward--event { background-color: #E89469; }
.stamp-reward--fish { background-color: #33B3B4; }
.stamp-reward--insect { background-color: #99BD2B; }
.stamp-reward--communication { background-color: #f1a400; }
.stamp-reward--diy { background-color: #C3963E; }
.stamp-reward--hha { background-color: #C5B058; }
.stamp-reward--plant { background-color: #5CBB5F; }
.stamp-reward--smartphone { background-color: #8A7BD0; }
.stamp-reward--money { background-color: #B4AA28; }
.stamp-reward--negative { background-color: #7f73ba; }
.stamp-reward--landmaking { background-color: #4fae6a; }
.stamp-reward--mydesign { background-color: #eb8396; }


.stamp-reward--event::after { border-color: #E89469; }
.stamp-reward--fish::after { border-color: #33B3B4; }
.stamp-reward--insect::after { border-color: #99BB2A; }
.stamp-reward--communication::after { border-color: #f1a400; }
.stamp-reward--diy::after { border-color: #C3963E; }
.stamp-reward--hha::after { border-color: #C5B058; }
.stamp-reward--plant::after { border-color: #5CBB5F; }
.stamp-reward--smartphone::after { border-color: #8A7BD0; }
.stamp-reward--money::after { border-color: #B4AA28; }
.stamp-reward--negative::after { border-color: #7f73ba; }
.stamp-reward--landmaking::after { border-color: #4fae6a; }
.stamp-reward--mydesign::after { border-color: #eb8396; }

.stamp-reward__value {
  color: #f5f8e4;
  margin-right: 0.4rem;
  font-weight: 700;
}


/* --------------- */
/*  MEDIA QUERIES  */
/* --------------- */

@media (min-width: 562px) {
  .logo-wrapper { width: 114.2rem; }
  .logo { left: -1.2rem; }
}

@media (min-width: 768px) {
  html {
    font-size: 37%;
  }

  .achievements {
    padding: 13rem 10rem 11.3rem 5rem;
  }

  .stamp-wrapper__tier {
    font-size: 2.2rem;
  }

  .stamp-wrapper__tier--event { color: #f5a280; text-shadow: -0.2rem -0.2rem 0 #ffe0de, 0.2rem -0.2rem 0 #ffe0de, -0.2rem 0.2rem 0 #ffe0de, 0.2rem 0.2rem 0 #ffe0de; }
  .stamp-wrapper__tier--fish { color: #2cc6c4; text-shadow: -0.2rem -0.2rem 0 #c0eae8, 0.2rem -0.2rem 0 #c0eae8, -0.2rem 0.2rem 0 #c0eae8, 0.2rem 0.2rem 0 #c0eae8; }
  .stamp-wrapper__tier--communication { color: #eda80f; text-shadow: -0.2rem -0.2rem 0 #fbf2b0, 0.2rem -0.2rem 0 #fbf2b0, -0.2rem 0.2rem 0 #fbf2b0, 0.2rem 0.2rem 0 #fbf2b0; }
  .stamp-wrapper__tier--insect { color: #a2c312; text-shadow: -0.2rem -0.2rem 0 #f4ffb1, 0.2rem -0.2rem 0 #f4ffb1, -0.2rem 0.2rem 0 #f4ffb1, 0.2rem 0.2rem 0 #f4ffb1; }
  .stamp-wrapper__tier--diy { color: #ba9f3e; text-shadow: -0.2rem -0.2rem 0 #fbf2c7, 0.2rem -0.2rem 0 #fbf2c7, -0.2rem 0.2rem 0 #fbf2c7, 0.2rem 0.2rem 0 #fbf2c7; }
  .stamp-wrapper__tier--hha { color: #d1bd4a; text-shadow: -0.2rem -0.2rem 0 #f4edb7, 0.2rem -0.2rem 0 #f4edb7, -0.2rem 0.2rem 0 #f4edb7, 0.2rem 0.2rem 0 #f4edb7; }
  .stamp-wrapper__tier--plant { color: #70b86e; text-shadow: -0.2rem -0.2rem 0 #caeaaa, 0.2rem -0.2rem 0 #caeaaa, -0.2rem 0.2rem 0 #caeaaa, 0.2rem 0.2rem 0 #caeaaa; }
  .stamp-wrapper__tier--smartphone { color: #8982c4; text-shadow: -0.2rem -0.2rem 0 #beddef, 0.2rem -0.2rem 0 #beddef, -0.2rem 0.2rem 0 #beddef, 0.2rem 0.2rem 0 #beddef; }
  .stamp-wrapper__tier--money { color: #b7b30c; text-shadow: -0.2rem -0.2rem 0 #f8fa9d, 0.2rem -0.2rem 0 #f8fa9d, -0.2rem 0.2rem 0 #f8fa9d, 0.2rem 0.2rem 0 #f8fa9d; }
  .stamp-wrapper__tier--negative { color: #7b5189; text-shadow: -0.2rem -0.2rem 0 #cacdf3, 0.2rem -0.2rem 0 #cacdf3, -0.2rem 0.2rem 0 #cacdf3, 0.2rem 0.2rem 0 #cacdf3; }
  .stamp-wrapper__tier--landmaking { color: #43a18d; text-shadow: -0.2rem -0.2rem 0 #c3ecc2, 0.2rem -0.2rem 0 #c3ecc2, -0.2rem 0.2rem 0 #c3ecc2, 0.2rem 0.2rem 0 #c3ecc2; }
  .stamp-wrapper__tier--mydesign { color: #ef5e78; text-shadow: -0.2rem -0.2rem 0 #ffe4e2, 0.2rem -0.2rem 0 #ffe4e2, -0.2rem 0.2rem 0 #ffe4e2, 0.2rem 0.2rem 0 #ffe4e2; }

  .stamp-reward {
    font-size: 1.6rem;
  }

  .nook-miles {
    z-index: 1000;
  }

}


@media (min-width: 1024px) {
  html {
    font-size: 48%;
  }
}

@media (min-width: 1320px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 768px) {
  .stamp-wrapper__tier {
    font-size: 3.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .stamp-wrapper:nth-child(even) .stamp-wrapper__tier {
    bottom: -6rem;
  }

  .stamp-wrapper:nth-child(odd) .stamp-wrapper__tier {
    top: -6rem;
  }

  .stamp-reward {
    padding: 0.6rem 2.5rem 0.4rem;
  }
  
  .stamp-reward::after {
    border-width: 0.5rem;
    height: 10rem;
  }

  .stamp-wrapper:nth-child(odd) .stamp-reward {
    top: auto;
    bottom: calc(100% + 7rem);
  }

  .stamp-wrapper:nth-child(even) .stamp-reward {
    bottom: auto;
    top: calc(100% + 7rem);
  }

  .stamp-wrapper:nth-child(even) .stamp-reward::after {
    top: auto;
    bottom: 100%;
    height: 10rem;
  }
}

@media (max-width: 500px){
  .soloDisplay {
    width: 100%;
    height: 75%;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  #noDisplaySolo .stamp-wrapper {
    margin-top: 30%;
  }

  #noDisplaySolo .trackImg {
    width: 90%;
    height: 75%;
  }
}

@media(hover: hover) {
  .transform:hover,
  .transform:focus {
    transform: rotate(-2deg) scale(1.07);
  }

  .browser-edge .transform:hover {
    transform: rotate(0deg) scale(1);
  }

}