:root {
  --blue: #227c9d;
  --lightpink: #ffe3dc;
  --darkpink: #dbb4ad;
  --green: #a2ad91;
  --dark: #3a2d32;
  --background: ;
  --text: ;
  --accent1: ;
  --accent2: ;
  --accent3: ;
}

body {
  background-color: var(--green);
  font-family: "Tahoma", sans-serif;
  color: var(--dark);
}

a {
  color: var(--blue);
}

a:hover {
  color: var(--darkpink);
  text-decoration: none;
}

.margin-small {
  margin: 1%;
}

.margin-right {
  margin-right: 15%;
}

.nav {
  display: flex;
  flex-direction: row;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-right: 1%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}

.nav-ul li a {
  display: block;
  color: var(--dark);
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.nav-ul li a:hover {
  background-color: var(--blue);
  color: var(--lightpink);
  text-decoration: none;
}

.gallery {
  background: var(--dark);
  margin-bottom: 7%;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
}

#gallery1 {
  background: url("/img/logo.png");
}

#gallery2 {
  background: url("/img/favicon.png");
}

#gallery3 {
  background: url("/img/logo2.png");
}

input {
  width: 75%;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.button {
  width: 40%;
  background-color: var(--dark);
  color: var(--lightpink);
  font-size: 1.5rem;
  padding: 3% 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2% auto;
}

.button:hover {
  background-color: var(--blue);
}

form {
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
}

.form {
  background: var(--lightpink);
  margin: 0 10%;
  padding: 5%;
  border-radius: 100px;
}

hr {
  width: 33%;
  height: 3px;
  background-color: var(--dark);
  border: 0;
  margin-bottom: 5%;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.grid p {
  line-height: 1.75;
  padding: 0 20px;
  margin-bottom: 20px;
  text-align: center;
}

.grid li {
  list-style-type: none;
  padding: 2%;
  flex-basis: 50%;
  text-align: center;
}

.grid li ion-icon {
  color: var(--blue);
  font-size: 4rem;
}

.grid li h4 {
  font-size: 30px;
  margin: 25px 0;
}

/*Footer Section*/

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
  color: var(--lightpink);
  padding: 20px;
  text-align: center;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
  font-size: 1.5rem;
}

#about-ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#faq-ul {
  padding: 0;
  margin: 0 5%;
}

#about-ul li,
#faq-ul li {
  list-style-type: none;
  font-size: 1.2rem;
}

#faq-ul li {
  background: var(--blue);
  color: var(--lightpink);
  margin: 5% 0;
  padding: 2%;
  border-radius: 15px;
}

#faq-ul li:nth-child(odd) {
  background: var(--lightpink);
  color: var(--dark);
}

#tutorial-button {
  width: 66%;
  background: var(--dark);
  color: var(--lightpink);
}

#tutorial-button:hover {
  background: var(--blue);
}

#contact-form {
  margin: 5%;
}

.creature-img {
  height: 15%;
  width: 15%;
  max-height: 115px;
  max-width: 115px;
}

@media (max-width: 800px) {
  .grid li {
    flex-basis: 100%;
    padding: 20px;
  }

  footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .form {
    margin-top: 15%;
    border-radius: 50px;
  }
}
