:root {
  --blue: #227c9d;
  --lightpink: #ffe3dc;
  --darkpink: #dbb4ad;
  --green: #a2ad91;
  --dark: #3a2d32;
  --plum: #f7aef8;
  --lavender: #b388eb;
  --black: #070707;
  --sky: #72ddf7;
  --white: #f4f4ed;
}

/* GENERAL */

body {
  background-color: var(--black);
  font-family: "Tahoma", sans-serif;
  color: var(--white);
}

a {
  color: var(--lightpink);
}

a:hover {
  color: var(--white);
  text-decoration: none;
}

/* NAV */

.nav {
  display: flex;
  flex-direction: row;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-right: 1%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 1;
}

.nav-ul li a,
#homeIcon {
  display: block;
  color: var(--lightpink);
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.nav-ul li a:hover {
  background-color: var(--blue);
  color: var(--lightpink);
  text-decoration: none;
}

#homeIcon ion-icon {
  height: 2rem;
  width: 2rem;
}

/* PHOTO GALLERY */

.gallery {
  background: var(--black);
  margin-bottom: 7%;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
}

#gallery1 {
  background: url("/img/logo.png");
}

#gallery2 {
  background: url("/img/favicon.png");
}

#gallery3 {
  background: url("/img/logo2.png");
}

/* FORMS */

.form input {
  width: 75%;
  padding: 10px;
  display: block;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form button {
  width: 40%;
  background-color: var(--black);
  color: var(--green);
  font-size: 1.5rem;
  padding: 3% 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2% auto;
}

.form button:hover {
  background-color: var(--sky);
  color: var(--black);
}

form {
  border-radius: 5px;
  width: 75%;
  margin: 0 auto;
}

.form {
  background: var(--green);
  color: var(--black);
  margin: 5% 10% 0;
  padding: 5%;
  border-radius: 100px;
}

/* FEATURES GRID*/

hr {
  width: 33%;
  height: 3px;
  background-color: var(--sky);
  border: 0;
  margin-bottom: 5%;
}

.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.grid p {
  line-height: 1.75;
  padding: 0 20px;
  margin-bottom: 20px;
  text-align: center;
}

.grid li {
  list-style-type: none;
  padding: 2%;
  flex-basis: 50%;
  text-align: center;
}

.grid li ion-icon {
  color: var(--sky);
  font-size: 4rem;
}

.grid li h4 {
  font-size: 30px;
  margin: 25px 0;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--sky);
  padding: 0 5%;
  text-align: center;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
  font-size: 1.5rem;
  padding: 0.5%;
}

/* ABOUT PAGE */

#about-ul {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#faq-ul {
  padding: 0;
  margin: 0 5%;
}

#about-ul li,
#faq-ul li {
  list-style-type: none;
  font-size: 1.2rem;
}

#faq-ul li {
  background: var(--blue);
  color: var(--white);
  margin: 5% 0;
  padding: 2%;
  border-radius: 15px;
}

#faq-ul li:nth-child(odd) {
  background: var(--white);
  color: var(--black);
}

#tutorial-button {
  width: 66%;
  background: var(--sky);
  color: var(--black);
  font-size: 1.5rem;
  padding: 3% 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2% auto;
}

#tutorial-button:hover {
  background: var(--blue);
}

/* IMAGES */

.creature-img {
  height: 100px;
  width: 100px;
}

/* BUTTONS */

.donateButton {
  width: 40%;
  background-color: var(--black);
  color: var(--sky);
  font-size: 1.5rem;
  padding: 3% 5%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 2% auto;
}

.donateButton:hover {
  background-color: var(--sky);
  color: var(--black);
}

@media (max-width: 800px) {
  .grid li {
    flex-basis: 100%;
    padding: 20px;
  }

  footer {
    font-size: 10px;
  }
}

@media screen and (max-width: 500px) {
  .form {
    margin-top: 15%;
    border-radius: 50px;
  }
}
